$my-button: rgb(167, 15, 28);
$my-buttontext: white;
$my-font: 'Roboto Slab';
$my-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$my-repeat: no-repeat;
$my-alignment: center;
$my-imgsize: cover;
$my-bgimage: url('img/jaguar-etype.jpg')